# Chap3. 내장 자료 구조, 함수, 파일

## 3.1 자료구조와 순차자료형

### 3.1.1 튜플(Tuple)
:1차원의 고정된 크기를 가지는 변경 불가능한 순차 자료형

In [1]:
tup=4,5,6
tup

(4, 5, 6)

In [2]:
tup_1=[1,2],3,[4,5]
tup_1

([1, 2], 3, [4, 5])

In [3]:
tup_1[0].append(3)
tup_1

([1, 2, 3], 3, [4, 5])

In [4]:
tup1=1,2,3
tup2=4,5,6
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [5]:
tup3=tuple('Pythoneasy')
tup3

('P', 'y', 't', 'h', 'o', 'n', 'e', 'a', 's', 'y')

In [6]:
tup3.count('y')

2

### 3.1.2 리스트(List)

In [7]:
List_1=['a','b','c','d']

In [8]:
List_1.append('e') # append:맨 끝에 추가
List_1

['a', 'b', 'c', 'd', 'e']

In [9]:
List_1.insert(1,'x') # Insert: 주소, 넣을 숫자
List_1

['a', 'x', 'b', 'c', 'd', 'e']

In [10]:
List_2=[1,1,1,2,3,4] #remove: 제일 먼저 나오는 수

In [11]:
List_2.remove(1)
List_2

[1, 1, 2, 3, 4]

In [12]:
print(3 in List_2)
print(5 in List_2)

True
False

### 3.1.3 내장 순차 자료형(enumerate, sorted, zip)

In [13]:
#enumerate
tmp=['a','b','c']
mapping={}
for i,v in enumerate(tmp):
    mapping[v]=i
mapping

{'a': 0, 'b': 1, 'c': 2}

In [14]:
#sorted
tmp=[1,5,2,4,3,2,4,1,7]
sorted(tmp)

[1, 1, 2, 2, 3, 4, 4, 5, 7]

In [15]:
#zip
seq1=['aaa','bbb','ccc']
seq2=[1,2,3]
zipped=zip(seq1,seq2)
list(zipped)

[('aaa', 1), ('bbb', 2), ('ccc', 3)]

### 3.1.4. 딕셔너리(Dictionary)

In [16]:
dict_1={'a':'value1','b':[1,2,3],3:'aa'}
dict_1

{'a': 'value1', 'b': [1, 2, 3], 3: 'aa'}

In [17]:
dict_1['c']='name'  # c를 key, name을 value

In [18]:
#삭제
del dict_1['b']   # b의 value까지 다 사라짐
dict_1

{'a': 'value1', 3: 'aa', 'c': 'name'}

In [19]:
#pop
dict_1.pop('a') # 값을 꺼내오는것

'value1'

In [20]:
print(dict_1.keys())
print(dict_1.values())

dict_keys([3, 'c'])
dict_values(['aa', 'name'])

In [21]:
#update
dict_2={'c':'Kor','d':'eng'}
dict_1.update(dict_2)
dict_1

{3: 'aa', 'c': 'Kor', 'd': 'eng'}

### 3.1.5 집합(set)

In [22]:
set([1,3,2,4,1,3])

{1, 2, 3, 4}

In [23]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}

In [24]:
#합집합(union)
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
# 교집합(intersection)
a.intersection(b)

{3, 4, 5}

In [26]:
# 원소추가
a.add(7)
a

{1, 2, 3, 4, 5, 7}

In [27]:
# 원소삭제
a.remove(7)
a

{1, 2, 3, 4, 5}

In [28]:
#차집합
a.difference(b)

{1, 2}

### 3.1.6 리스트, 집합, 딕셔너리 표기법

In [29]:
#리스트 표기법
nums=[1,3,2,4,5,6,7,11]
[x*2 for x in nums if x>4]

[10, 12, 14, 22]

In [30]:
#집합
# {expression for value in collection if condition}

In [31]:
#사전
# {Key expression for value in collection if condition}
# {Value expression for value in collection if condition}

## 3.2 함수(Function)

### 3.2.1 네임스페이스, 스코프,지역함수

In [32]:
def func():
    a=[]
    for i in range(5):
        a.append(i)
    print(a)

In [33]:
a=[]
def func():
    for i in range(5):
        a.append(i)
print(a)

[]

### 3.2.2 여러값 반환하기

In [34]:
def my_func(x,y):
    x=x+1
    y=y+2
    return x,y
a,b=my_func(1,1)
print(a,b)

2 3

### 3.2.3 익명함수 / 람다함수

In [35]:
list('aabb')

['a', 'a', 'b', 'b']

In [36]:
set(list('aabb'))

{'a', 'b'}

In [37]:
len(set(list('aabb')))

2

### 3.2.4 커링: 일부 인자만 취하기

In [38]:
def add_number(x,y):
    return x+y

In [39]:
add_five=lambda z:add_number(5,z)
add_five(12)

17

### 3.2.5 제너레이터

In [40]:
def sin(n=10):
    print("what is generator?")
    for i in range(1,n+1):
        yield i**2

In [41]:
for x in sin():
    print(x,end='')

what is generator?
149162536496481100